<form>
  <fieldset>
    <legend>Calculate c</legend>
    <div>
      <label>
        a:
        <input name="a-input" type="number" min="0" (change)="onValueAChange($event)" required>
      </label>
    </div>
    <div>
      <label>
        b:
        <input name="b-input" type="number" min="0" (change)="onValueBChange($event)" required>
      </label>
    </div>
    <div>
      <p><input type="submit" value="Berechnen" (click)="onCalculate($event)"></p>
    </div>
    <div>
      <label>
        c =
        <input [value]="result" type="number" readonly disabled>
      </label>
    </div>
  </fieldset>
</form>
